.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;

  // &__label {
  // }
  &__input {
    font-family: $Poppins;
    font-size: 20px;
    @include glassmorphism;
    padding: 8px 20px;
    margin-left: 3.5em;
    @include formRaduis;
    &:focus {
      outline: none;
    }
  }
  &__searchInput {
    font-family: $Poppins;
    font-size: 20px;
    @include glassmorphism;
    padding: 8px 20px;
    margin-right: 2em;
    @include navRadius;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    background-color: transparent;
    transform: translateX(-5.82em);
    font-size: 17px;
    padding: 13px 23px;
    margin: 0.2em 1em 0.2em 1em;
    border: 2px solid $black;
    @include formRaduis;
    color: $white;
    background-color: $black;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (min-width: $medium) {
  .form {
    &__input {
      margin-left: 0;
    }
    &__searchInput {
      margin-right: 0;
    }
  }
}
